{% extends 'users/base.html' %} 
{% load crispy_forms_tags %} 
{% block content %}
{% load static %}



<div class="content-section" style="margin-left: 520px; margin-top: 125px ; background-image: url({% static 'images/bg23.jpg' %});" >
  <img class="center" src="{% static 'images/mainlogo.png' %}"  alt="My image" width="130" height="50" >
  <form class= "main_form" style="padding: 6%;" action="" method="POST" >
    {% csrf_token %}
    <fieldset class="form-group" style="color: snow;"  >
      <legend class="border-bottom mb-4" style= "font-size: x-large; text-align: center;" >Login</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group" >
      <button class="btn btn-outline-info" type="submit" style="align-items: center;">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class=footer style="color: aliceblue; font-size: larger; ">Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small
    >
  </div>
</div>
{% endblock content %}

